body, html {
    margin: 0;
    padding: 0;
    font-family: ui-monospace,
     Menlo, Monaco,
     "Cascadia Mono", "Segoe UI Mono",
     "Roboto Mono",
     "Oxygen Mono",
     "Ubuntu Monospace",
     "Source Code Pro",
     "Fira Mono",
     "Droid Sans Mono",
     "Courier New", monospace;
}


body.dark {
    background: #111;
}

* {
    box-sizing: border-box;
}


.container {
    padding: 2rem;
    display: block;

}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

body.dark h1 {
    color: #ddd;
}

#grid {
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
}

.row {
    transition: 0.2s transform ease-in-out;
    margin-bottom: -1px;
    border-collapse: collapse;
}


.letter {
    padding: 10px;
    border: 1px solid #333;
    display: table-cell;
    border-collapse: collapse;
}

body.dark .letter {
    color: #ddd;
}


.letter:hover {
    cursor: not-allowed;
}


.letter:hover {
    cursor: pointer;
    background: #ccc;
}

body.dark .letter:hover {
    background: #333;
    color: #ccc;
}


.letter.selected, body.dark .letter.selected {
    background: #66aacc;
}

.result {
    text-align: center;
    margin: 2rem auto;
    font-size: 0.875rem;
    color: #ee6666;
}

.result.correct {
    color: #66aa66
}

.stats {
    max-width: 18rem;
    text-align: center;
    margin: 2rem auto;
    font-size: 0.875rem;
}

body.dark .stats {
    color: #ddd;
}


.subhead {
    text-align: center;
    margin-bottom: 1rem;
}

.how-to-play, .close-how-to-play {
    outline: none;
    border: none;
    color: #66aacc;
    text-decoration: underline;
    padding: 0;
    background: transparent;
    cursor: pointer;
    display: inline-block;
}

.how-to-play:hover, .close-how-to-play:hover {
    color: #3c7c9c;
}



.instructions {
    display: none;
    position: fixed;
    background: white;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #333;
    font-size: 0.875rem;
    padding: 2rem;
    width: 640px;
    text-align: center;

    box-shadow: 4px 4px 0 #999;
}


body.dark .instructions {
    background: #111;
    color: #ddd;
    box-shadow: 4px 4px 0 #333;
}


.instructions.visible {
    display: block;
}

.settings-heading {
    font-weight: bold;
    color: #333;
}

body.dark .settings-heading {
    color: #ccc;
}



.settings {
    border-top: 1px solid #eee;
    font-size: 0.7rem;
    color: #666;
    text-align: center;
}

body.dark .settings {
    border-top: 1px solid #333;
}


.settings-row {
    margin: 0.5rem 0;
}

.settings-row span {
    cursor: pointer;
}

.settings-row span:hover, .settings-row span.active {
    color: #3c7c9c;
}